@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face {
    font-family: 'CallunaSans';
    src: url('fonts/CallunaSans-Regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/CallunaSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/CallunaSans-Regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/CallunaSans-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'CallunaSansItalic';
    src: url('fonts/CallunaSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;
}

header{
    margin-bottom: 4vh;
}

.sale-page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    font-family: "CallunaSans";
}

.product-image img {
    width: 100%;
    max-width: 400px; /* Adjust as needed */
    margin-right: 20px;
    margin-right: 20px;
    border-radius: 30px; /* Rounds the corners of the image */
    border: 2px solid black; /* Adds a thin black border around the image */
}

.product-details {
    flex-grow: 1;
    max-width: 600px; /* Adjust as needed */

}

.product-details h1 {
    margin: 0 0 10px 0;
}

.price {
    margin-bottom: 10px;
}

.original-price {
    text-decoration: line-through;
    margin-right: 15px;
    color: #666; /* Grey color to indicate it's not the current price */
}

.sale-price {
    color: #E44D26; /* Highlight sale price in red */
    font-weight: bold;
}

.reviews {
    margin-bottom: 20px;
}

.add-to-cart-btn,
.buy-now-btn {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart-btn {
    background-color: #333;
    color: white;
}

.buy-now-btn {
    background-color: #E44D26; /* Red color */
    color: white;
}

.buy-now-btn:hover {
    background-color: #C1351D; /* Darker red on hover */
}

.full-page-background {
    width: 100%; /* Span the full width of the viewport */
    height: 100vh; /* Span the full viewport height */
    display: flex; /* This will allow you to position content within it easily, if needed */
    justify-content: center; /* Center content horizontally, if needed */
    align-items: center; /* Center content vertically, if needed */
}

/* Responsive layout adjustments */
@media (max-width: 768px) {
    .sale-page-container {
        flex-direction: column;
        text-align: center;
    }

    .product-image img {
        width: 100%;
        max-width: 400px; /* Adjust as needed */
        margin-right: 20px;
        border-radius: 30px; /* Rounds the corners of the image */
        border: 1px solid black; /* Adds a thin black border around the image */
    }

    .product-details {
        max-width: 100%;
    }
}
