/* Add a custom font using Google Fonts or a similar service */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face {
    font-family: 'CallunaSans';
    src: url('fonts/CallunaSans-Regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/CallunaSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/CallunaSans-Regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/CallunaSans-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'CallunaSansItalic';
    src: url('fonts/CallunaSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    margin-left: auto; /* Push nav to the right */
}

/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
} */


/* Additional container styles to align logo container and nav */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.navbar .logo {
    background-color: blue;
    padding: 10px;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    padding: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: all 1s ease-out;
    transition-duration: .5s;

}

nav ul li a:hover,
nav ul li a.active {
    background-color: #f7bf50;
    border-radius: 20px;
    padding: 10px;
    color:#000

}

.logo-container {
    display: flex;
    align-items: center;
    background-color: #f7bf50; /* Yellow background */
    padding: .5rem; /* Reduced padding */
    border-radius: 5px; /* Optional: for rounded corners */
    width: auto; /* Optional: for responsive layout */
    height: 3rem;
}

.bi-backpack {
    width: 45px; /* Adjust the size as needed */
    height: 45px; /* Adjust the size as needed */
    margin-right: 10px;
    fill: #000; /* SVG color */
}

.logo-text p {
    margin: 0;
    color: #000; /* Text color */
    font-family: 'CallunaSansItalic'; /* This is a generic sans-serif font */
    font-style: italic;
    font-size: 12px; /* Adjust font size as needed */
}

.logo-text p:first-child {
    font-size: 2.2rem; /* Larger size for the 'SkyPouch' text */
    font-weight: 400; /* Bold font weight */

}




.banner-area {
    width: 890px;
    height: 240px;
    margin: 0 auto; /* Centers the .banner-area horizontally */
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(pictures/SPL.png);
    background-size: cover;
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */

}

.image-fill{
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(pictures/WOAH.png);
    margin: 0 auto;
    height: 1024px;
    width: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.image-fill2{
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(pictures/WOAH2.png);
    margin: 0 auto;
    height: 1024px;
    width: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}


.full-page-background {
    width: 100%; /* Span the full width of the viewport */
    height: 100vh; /* Span the full viewport height */
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), #f7bf50; /* Apply the gradient over the orange background */
    background-size: cover; /* Ensure the background covers the entire element */
    display: flex; /* This will allow you to position content within it easily, if needed */
    justify-content: center; /* Center content horizontally, if needed */
    align-items: center; /* Center content vertically, if needed */
}




.content-area{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FAF9F6;

}

.content{
    text-align: center;
}

.footer{
    background-color: #333;
    color: #FAF9F6;
    padding: 10px 20px;
    text-align: center;
    justify-content: center;

}


.button {
    margin-top: 25rem; /* Adds space above the button */
    display: block; /* Ensures the button is on its own line */
    text-decoration: none;
    font-family: 'CallunaSans', sans-serif;
    font-weight: 500;
}

.button:hover {
    background-color: darkblue; /* Slightly darker background on hover */
}

/* You might need to add specific classes or IDs for different button states or types */
.button-primary {
    background-color:  white; /* Use the same yellow as the logo background for primary buttons */
    color: black; /* Color for text on primary buttons */
    border: none; /* No border for a flat design */
    padding: .5rem 1rem; /* Top and bottom padding, left and right padding */
    font-size: 2rem; /* Font size */
    text-transform: uppercase; /* Uppercase text for a modern look */
    border-radius: 2rem; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    border: .15rem solid black; /* Add a black border */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Optional: add a subtle shadow */

    text-transform: uppercase;
    margin-right: 1rem;


}


.shop-categories {
    display: flex;
    justify-content: space-around; /* This will space out the categories evenly */
    margin: 0 auto; /* Center the container */
    max-width: 1200px; /* Adjust to your preferred max width */
    padding: 1rem;
    
}

.category {
    text-align: center; /* Center-align the text */
    background: linear-gradient(rgba(26, 25, 25, 0.2), rgba(0,0,0,0.1))
}

.category img {
    width: 100%; /* Make the image responsive within its container */
    max-width: 200px; /* Maximum width for the images */
    margin-bottom: 8px; /* Space between the image and the category title */
    border-radius: 5px; /* Optional: if you want rounded corners for the images */
}

.category h3 {
    margin: 0;
    font-size: 1rem;
    text-transform: uppercase; /* Styling the category title to be uppercase */
    font-weight: normal; /* Adjust font-weight as needed */
    color: #333; /* Category title color */
}

.desc{
    padding: 2rem;
    font-family: 'CallunaSans';
}

.category{
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); /* Slightly deeper shadow on hover */
    padding: 20px;
}

.category:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); /* Slightly deeper shadow on hover */
    cursor: pointer; /* Add pointer cursor on hover */
    transition: box-shadow 0.3s ease; /* Smooth transition for hover effect */
}

.desc h1{
    font-size: 2rem;
    font-weight: 400;
    font-family: 'CallunaSansItalic';
    padding: 20px;
}

.desc{
    text-align: center;
}

.s2{
    background-color: #333;
    color: #FAF9F6;
    padding: 10px 20px;
    text-align: center;
    justify-content: center;
    font-family: "CallunaSans";
}

.s3{
    /* create background color of #f7bf50 */
    color: #333;
    padding: 10px 20px;
    text-align: center;
    justify-content: center;
    font-family: "CallunaSans";
}

.button-primary:hover {
    background-color: #e0a800; /* A darker yellow for hover state */
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); /* Slightly deeper shadow on hover */
}

/* Add responsiveness for smaller screens */
@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
    }
    .logo-container {
        justify-content: center; /* Center logo container on small screens */
        margin-bottom: 10px; /* Add space between logo container and nav */
    }
    nav ul {
        justify-content: center; /* Center navigation links on small screens */
    }
    nav ul li {
        text-align: center;
    }
    nav ul li a {
        display: block;
        margin-bottom: 5px; /* Add space between navigation links */
    }
}